body{
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/158/259/original/silent-film-background-vector.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.App{
  text-align: center;
}
.FormMovie {
  width: 475px;
  margin: 0 auto;
  text-align: left;
  background-color: #eae2f1d1;
  margin-top: 292px;  
}
 
 .FormMovie h1 {
  text-align: center;
 }
 
 .FormMovie .form-data {
  display: flex;
  justify-content: center;
  margin: 5px 0;
 }
 
 .FormMovie .form-data label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
 }
 
 .FormMovie .form-data input:not([type="submit"]) {
  flex-grow: 1;
 }
